.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(3, 1fr);
  gap: 16px;
}

@media screen and (min-width: 319px) and (max-width: 767px){
  .photo-grid {
    max-width: calc( 100% - 16px * 2);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .photo-grid {
    max-width: calc( 100% - 24px * 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .photo-grid {
    max-width: calc( 100% - 48px * 2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}
