.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (min-width: 319px) and (max-width: 1023px){
  .lead{
    max-width: 100%;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .lead{
    max-width: calc(100% - 48px * 2);
  }
}
