.intro__text {
  margin: 0;
  padding-top: 40px;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

@media screen and (min-width: 319px) and (max-width: 767px){
  .intro__text  {
  max-width: 288px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__text  {
  max-width: 720px;
  }
}
