.cover {
  margin: 0 auto;
  max-width: calc(100% - 48px*2);
  min-height: 740px;
}

@media screen and (min-width: 319px) and (max-width: 767px){
  .cover {
    max-width:100%;
    min-height: 62.5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover {
    max-width: 100%;
    min-height: 62.5vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .cover {
    max-width: 100%;
    min-height: 62.5vw;
  }
}
